.article-item-foot a {
    align-content: left;
    color:#FF6600;
    float: left;
    margin-top: 5px;
}

.article-item-foot span {
    align-content: right;
    float: right;
}

.date {
    margin:5px;
    padding: 3px;
}
.time {
    margin: 5px;
    padding: 3px;
}

.item {
    cursor: pointer;
}